.center {
    text-align: center;
}

.data {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.card {
    width: 80%;
    padding: 2rem;
    margin: auto;
    background-color: #e6e6fa;
    border-radius: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.line {
    color: var(--text-color);
    background-color: var(--text-color);
    height: 5;
}

.bold {
    font-weight: bold;
    color: var(--text-color);
}

.row {
    display: flex;
    flex-direction: row;
}

.name-column {
    width: 80%;
    padding-left: 2rem;
}

.icon-success {
    color: var(--secondary-color);
    font-size: 1.5rem;
}

.icon-error {
    color: #e1545b;
    font-size: 1.5rem;
}

.icon-none {
    color: grey;
    font-size: 1.5rem;
}

@media(max-width: 480px) {
    .data {
        display: block;
        margin: auto;
    }
  }