.card {
    padding: 1rem;
    background-color: #e1def4;
    border-radius: 1rem;
    margin: 1rem;
}

.form-section {
    display: grid;
    align-items: center;
    margin: 1rem 0;
}

.button-add {
    margin-left: 1rem;
}