h1, h2 {
    font-family: 'Lobster', cursive;
    font-weight: 400;
    font-weight: normal;
    font-size: 3rem;
    color: #5d624e;
}

h3 {
    font-family: 'Alumni Sans Inline One', cursive;
    font-weight: 100;
    font-size: 2rem;
    color: #5d624e;
}

.header {
    text-align: center;
    margin-bottom: 2rem;
}

.text {
    font-size: 1rem;
    color: #5d624e;
}